:root {
	--tertiary-color: #eff2f6;
	--secondary-color: #0f6fec;
	--secondary-color-light: #e6f0fd;
	--color-grey: rgba(0,0,0,.5);
}

.bg-tertiary {
	background-color: var(--tertiary-color);
}

.icon-lg {
	font-size: 20px;
}

.nav-item-line.active {
	color: var(--secondary-color) !important;
	position: relative;
/*	margin-top: -20px !important;*/
/*	margin-bottom: -20px !important;*/
}

.nav-item-line.active::before {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--secondary-color);
}

.f-sm {
	font-size: 11px !important;
}

.f-lg {
	font-size: 20px;
}

.color-grey {
	color: var(--color-grey);
}

.color-secondary {
	color: var(--secondary-color);
}

.bg-secondary-light {
	background-color: var(--secondary-color-light);
}

.profile-btn {
	color: var(--secondary-color);
}

.profile-btn:hover {
	color: white !important;
	background-color: var(--secondary-color);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dropdown-toggle::after {
	content: '';
	display: none !important;
}

.post-img-1 {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.post-img-2 {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
}

.post-img-3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 140px 140px;
	grid-gap: 15px;
}

.post-img-3 > div:first-child {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.post-img-3 > div:nth-child(2) {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.post-img-3 > div:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}